/* working for pc screen  */
@media only screen and (min-width:450px) {
    /* working for globals for PC screen  */
    *{
        margin: 0;
        padding: 0; 
        color: lime;
        font-family:Poppins;
    }

    body{
        background-color:black;
        width: 100%;
    }
    
    hr{
        margin: 10px 0px;
        border: 1px solid lime;
    }

    #background{
        position: absolute;
        height:410%;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: -1;
    }

    a{
        color: white;
    }

    a:hover{
        color: lime;
    }
    
    /* working for nav for PC screen  */
    nav{
        width: 100%;
        max-height: 100px;
        display: flex;
        justify-content: space-between;
    }
    
    .hamburger-logo{
        display: none;
    }

    .logo_img{
        border: 2px solid white;
        width: 60px;
        height: 60px;
        padding: 10px;
        margin: 20px 0px 0px 20px;
        box-shadow: 0px 0px 15px 0px lime inset;
        border-radius: 100%;
    }

    .logo_img img{
        width: 100%;
    }

    /* working for search bar and logo  */
    .search{
        width:30%;
        padding:0px 20px;
        margin: 20px 0px 10px 20px;
        display: flex;
        align-items: center ;
        display: block;
        
    }

    .search p br{
        display: none;
    }

    .search p{
        color: white;
        font-size: 20px;
    }

    .search div:nth-child(3){
        display: flex;
        justify-content: right;
    }
    .search div{
        display: flex;
        justify-content: center;
    }
    .search button{
        color:white;
        background-color: transparent;
        border: 1px solid wheat;
        border-radius: 0px 15px 15px 0px ;
        box-shadow: 0px 0px 10px 0px lime inset;
        width: 30%;
        height: 32px;
        font-size: 18px;
        outline: none;
        transition: background 0.8s;
    }

    .search button:hover{
        background: lime radial-gradient(circle, transparent 1%, lime 1%) center/15000%;
        color: white;
    }

    
    .search button:active{
        background-color: #292d3e;
        background-size: 100%;
        transition: background 0s;
    }
    .search input{
        color:white;
        background-color: transparent;
        border: 1px solid white;
        box-shadow: 0px 0px 10px 0px lime inset;
        border-radius: 15px 0px 0px 15px;
        width: 70%;
        padding:10px 0px 10px 15px;
        margin: 0px 0px 0px 2px;
        height: 32px;
        font-size: 18px;
        outline: none;
        transition: background 0.8s;
        vertical-align: middle;
    }
    
    .search input::placeholder{
        color:white;
    }
    
    .search input:hover{
        background: lime radial-gradient(circle, transparent 1%, lime 1%) center/15000%;
        color: white;
    }

    .search input:hover::placeholder{
        color:white;
    }
    
    .search input:active{
        background-color: #292d3e;
        background-size: 100%;
        transition: background 0s;
    }

    /* working for header for PC screen*/
    header{ 
        height: 50%;
        margin:20px;
        box-shadow: 0px 0px 30px 0px lime inset;
        padding: 20px;
        backdrop-filter: blur(10px);
        border: 2px solid white;
        border-radius: 30px;
    }
    
    /* working for the content inside header for PC screen  */
    .content_for_header{
        width: 96%;
        height: 88%;
        position: absolute;
        z-index: 2;
    }

    .content_for_header div:nth-child(1) p:nth-child(1){
        color: white;
        margin: 0px 0px -50px 0px;
        font-size: 150px;
    }
    .content_for_header div:nth-child(1) p:nth-child(3){
        color: white;
        height: 74%;
        font-size: 150px;
        margin: -100px 0px 0px 190px;
    }

    .content_for_header div:nth-child(3) p{
        color: white;
        text-align: right;
        width: fit-content;
        margin: -80px 0px 0px 0px;
        font-size: 20px;
    }

    /* working for header background in PC screen  */
    .background_for_header{
        position: absolute;
        margin: 20px;
        width: 88%;
        height: 30%;
        z-index:0;
        color: white;
        padding: 40px;
    }

    .background_for_header div{
        width: 40px;
        height: 40px;
        border: 10px solid lime;
        background-color: white;
        border-radius: 100%;
        position: relative;
    }
    
    .background_for_header div:nth-child(1){
        left: 150px;
        animation: left-right 2835ms linear 0s infinite;
    }
    .background_for_header div:nth-child(2){
        left: 1000px;
        animation: left-right 3260ms linear 500ms infinite;
    }
    .background_for_header div:nth-child(3){
        left: 550px;
        animation: left-right 1856ms linear 0.2s infinite;
    }
    .background_for_header div:nth-child(4){
        left: 300px;
        animation: left-right 1500ms linear 0.3s infinite;
    }
    .background_for_header div:nth-child(5){
        animation: left-right 3s linear 0s infinite;
        left: 1250px;
        top: -50px;
    }
    
    /* workign for list item for PC screen  */

    .list-item{
        border: 2px solid white;
        border-radius: 30px;
        width: 20%;
        box-shadow: 0px 0px 30px 0px lime inset;
        margin: 20px ;
        padding: 20px;
    }

    .list-item div{
        border-left: 10px double white;
        border-right: 10px double white;
    }

    .list-item h1{
        width: 70%;
        border-radius: 10px;
        color: lime;
        border: 2px solid lime;
        padding: 2px 16px 4px 16px;
        margin: 10px 10px 0px 10px; 
        list-style: none;
    }

    .list-item h3{
        width: 70%;
        border-radius: 10px;
        color: white;
        border: 2px solid lime;
        padding: 2px 16px 4px 16px;
        margin: 10px 10px 0px 10px; 
        list-style: none;   
    }

    .list-item h5{
        width: 70%;
        border-radius: 10px;
        border: 2px solid white ;
        padding: 2px 16px 4px 16px;
        margin: 10px 10px 0px 10px; 
        text-align: left;
        font-size: 15px;
        font-weight: 500;
    }

    .list-item h5:hover{
        color: white;
    }

    /* working for main body for P screen */
    body center{
        display: flex;
        columns:2;
    }
    
    .main-page-body{
        width: 100%;
        padding: 30px;
        margin: 20px;
        height: fit-content;
        columns:3;
        border: 2px solid white;
        box-shadow: 0px 0px 30px 0px lime inset;
        border-radius: 30px;
        color: white;
    }

    .main-page-body span{
        border-radius: 30px;
        padding: 20px;  
        color: white;
        font-size: 30px;
    }

    .show{
        width: 70%;
        height: fit-content;
        border: 3px solid lime;
        border-radius: 40px;
        margin: 80px 0px;
        padding: 30px;
        backdrop-filter: blur(10px);
        text-align: left;
        -webkit-column-break-inside: avoid;
    }

    .show img{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }

    .show h1{
        color: white;
    }

    .show h3{
        color: white;
    }

    .show a{
        color :white;
        text-decoration: none;
    }

    .show a:hover{
        color: lime;
        text-decoration: underline;
    }

    /* working for footer for PC screen  */
    footer div iframe{
        width: 100%;
        border-radius: 10px;
    }

    footer div{
        border:10px solid lime;
        margin: 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 40px 0px lime;
    }
}

/* working for mobile screen  */
@media  only screen and (max-width:450px) {
    /* universal elements for mobile screen */
    *{
        margin: 0;
        padding: 0;
        color: lime;
    }   
    
    body{
        background-color: black;
    }

    #background{
        position: absolute;
        height:1400%;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: -1;
    }
    
    nav{
        display: flex;
        /* columns: 2;   */
        padding: 10px;
    }
    
    a{
        text-decoration: none;
        transform: 200ms;
        color: white;
    }
    
    hr{
        border:1px solid lime;  
    }
    
    a:hover{
        text-decoration: underline;
        color: lime;
    }
    
    /* working for the slider for mobile screen */
    .hamburger-div{
        border: 2px solid white;
        box-shadow: 0px 0px 10px 0px lime inset;
        border-radius: 10px;
        padding: 10px;
        width: fit-content;
        height:80px;
        -webkit-column-break-inside: avoid;

    }

    .hamburger-div img{
        margin: 10px 0px -10px 0px;
        width: 40px;
    }

    .hamburger-icon{
        height: 20px;
        width:55%;
        border:2px solid rgb(16, 156, 0) ;
        border-radius: 5px;
        display:grid;
        align-items: center;
        padding: 7px;
    }

    .hamburger-icon span{
        height: 25%;
        width: 100%;
        display: flex;
        background-color: rgb(16, 156, 0);
    }

    .list-item{
        transform: translate(-120% , -25%);
        background-color: black;
        border: 2px solid white;
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
        position: absolute;
    }

    .hamburger-div:hover .list-item{
        transform: translate(0px , 0px);
        background-color: white;
    }


    .search{
        border: 2px solid white;
        box-shadow: 0px 0px 10px 0px lime inset;
        border-radius: 10px;
        display: block;
        width: 100%;
        margin:0px 0px 0px 10px;
        padding:10px;
    }

    .search div:nth-child(3) p{
        color: white;
        font-size: 18px;
        width: 90%;
        margin: -12px 0px 0px 5px;
    }
    
    .search div:nth-child(1){
        display: flex;
    }

    .search button{
        color:white;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        width: 30%;
        height: 32px;
        font-size: 14px;
        box-shadow: 0 0 10px 0px lime inset;
        outline: none;
        transition: background 0.8s;
    }

    .search button:hover{
        background: lime radial-gradient(circle, transparent 1%, lime 1%) center/15000%;
        color: white;
    }
  
    .search button:active{
        background-color: #292d3e;
        background-size: 100%;
        transition: background 0s;
    }
    .search input{
        color: white;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        width: 65%;
        padding: 0px 10px 0px 10px;
        margin: 0px 0px 0px 2px;
        height: 32px;
        font-size: 14px;
        box-shadow: 0 0 10px 0px lime inset;
        outline: none;
        transition: background 0.8s;
    }

    .search input::placeholder{
        color:white;
    }

    .search input:hover{
        background: lime radial-gradient(circle, transparent 1%, lime 1%) center/15000%;
        color: white;
    }
  
    .search input:active{
        background-color: #292d3e;
        background-size: 100%;
        transition: background 0s;
    }

    /* working for header for mobile screen*/
    header{
        border: 2px solid white;
        box-shadow: 0px 0px 10px 0px lime inset;
        border-radius: 10px;
        margin: 10px;
        height: 100px;
        padding: 15px;
    }

    .content_for_header{
        width: 100%;
        height: 103%;
        backdrop-filter: blur(3px);
    }

    .content_for_header div:nth-child(1) p:nth-child(1){
        color: white;
        font-size: 30px;
    }

    .content_for_header div:nth-child(1) p:nth-child(3){
        color: white;
        font-size: 30px;
        margin: -10% 0px 0px 11%;
    }

    .content_for_header div:nth-child(3) p{
        color: white;
    }

    /* working for background of header for mobile screen  */
    .background_for_header{
        z-index: 0;
        position: absolute;
        margin: 10px;
        padding: 15px;
        width: 85%;
        height: 15%;
    }
    
    .background_for_header div{
        width: 4px;
        height: 4px;
        border: 5px solid lime;
        background-color: white;
        border-radius: 100%;
        position: relative;
        margin-bottom: 6px;
    }
    
    .background_for_header div:nth-child(1){
        left: 100px;
        animation: left-right 2835ms linear 0s infinite;
    }
    .background_for_header div:nth-child(2){
        left: 150px;
        animation: left-right 3260ms linear 500ms infinite;
    }
    .background_for_header div:nth-child(3){
        left: 180px;
        animation: left-right 1856ms linear 0.2s infinite;
    }
    .background_for_header div:nth-child(4){
        left: 130px;
        animation: left-right 1500ms linear 0.3s infinite;
    }
    .background_for_header div:nth-child(5){
        animation: left-right 3s linear 0s infinite;
        left: 220px;
        top: 0px;
    }
    

    /* working for main page body for mobile screen  */
    .main-page-body{
        border: 2px solid white;
        box-shadow: 0px 0px 10px 0px lime inset;
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
    }

    .main-page-body span{
        border: 2px solid white;
        border-radius: 20px;
        color: white;
        font-size: 28px;
        padding: 10px;
        margin: 10px;
    }
    
    .show{
        border: 2px solid white;
        padding: 20px;
        margin: 30px 10px;
        border-radius: 10px;
        text-align: left;
        backdrop-filter: blur(10px);
    }

    .show img{
        width: 100%;
    }

    .show h1{
        color: white;
    }

    .show h3{
        color: white;
    }

    /* working for footer for mobile screen*/
    footer div{
        width: 94%;
        margin: 10px;
        border: 2px solid lime;
        box-shadow: 0px 0px 10px 0px lime;
        border-radius: 10px;
    }
    footer div iframe{
        width: 100%;
        border-radius: 10px;
    }
}

@keyframes left-right{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(-100px);
    }
    50%{
        transform: translateX(0px);
    }
    75%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
    }
}