@font-face {
  font-family: "jersey";
  src: url("Poppins/Poppins-Medium.ttf");
}

:root {
  --primary-color-1: rgb(5, 0, 46);
  --primary-color-2: rgb(17, 11, 66);
  --secondary-color-1: rgb(41, 28, 141);
  --secondary-color-2: rgb(16, 0, 138);
  --contrast-color-1: rgb(159, 147, 255);
  --contrast-color-2: rgb(211, 205, 255);
}

/* :root {
  --primary-color-1: #000033;
  --primary-color-2: #000066;
  --secondary-color-1: #0000b3;
  --secondary-color-2: #6666ff;
  --contrast-color-1: #9999ff;
  --contrast-color-2: #b3b3ff;
} */

ion-icon {
  color: var(--contrast-color-1);
  transition: 300ms;
}

ion-icon:hover {
  color: var(--primary-color-1);
}

*::-webkit-scrollbar {
  width: 1vh;
  height: 0;
}

*::-webkit-scrollbar-track {
  background-color: var(--contrast-color-1);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--contrast-color-2);
}

* {
  margin: 0;
  padding: 0;
  color: lime;
  font-family: jersey;
  scroll-behavior: smooth;
}

/* working for pc screen  */
@media only screen and (min-width: 501px) {
  /* working for globals for*/

  body {
    background-color: var(--primary-color-1);
  }

  hr {
    border: 2px solid var(--secondary-color-1);
  }

  a {
    color: var(--contrast-color-1);
    background-color: var(--secondary-color-1);
    padding: 0.3rem 1rem;
    margin: 0.6rem;
    border-radius: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: 200ms;
    white-space: nowrap;
  }

  a:hover {
    background-color: var(--contrast-color-2);
    color: var(--secondary-color-1);
  }

  .hamburger-logo {
    display: none;
  }

  .hamburger-div {
    display: flex;
  }
  /* working for nav for PC screen  */

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .logo-img {
    /* width: 50px; */
    height: fit-content;
    padding: 0.5rem;
    display: flex;
  }

  .logo-img img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10px;
    margin: 0.5rem;
    box-shadow: 0px 3px 5px black;
  }

  .logo-img ion-icon {
    font-size: 2rem;
    margin: 1rem 0.3rem;
  }

  .logo-img ion-icon:hover {
    color: var(--secondary-color-1);
  }

  .nav-bar {
    display: flex;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-bar a {
    margin: 0 0.6rem;
  }
  /* working for search bar and logo  */
  .search {
    width: fit-content;
    margin: 1rem;
    display: block;
  }

  .search div:nth-child(1) {
    background-color: var(--secondary-color-1);
    box-shadow: 0px 3px 10px black;
    border-radius: 20px;
    padding: 0 1rem;
    width: fit-content;
    transition: background 0.8s;
  }

  .search div:nth-child(1):active {
    background-color: #292d3e;
    background-size: 100%;
    transition: background 0s;
  }

  .search div:nth-child(1):hover {
    background: black radial-gradient(circle, transparent 1%, black 1%)
      center/15000%;
  }

  .search br {
    display: none;
  }

  .search p {
    color: var(--contrast-color-1);
    font-size: 15px;
  }

  .search div:nth-child(3) {
    transform: translateX(10%);
    width: fit-content;
    display: flex;
    justify-content: right;
  }
  .search div {
    display: flex;
    justify-content: center;
  }
  .search button {
    font-size: 1.5rem;
    outline: none;
    background-color: transparent;
    padding: 0.5rem;
    width: fit-content;
    transition: background 0.8s;
    outline: none;
    border: none;
  }

  .search input {
    width: 100%;
    font-size: 1.2rem;
    outline: none;
    transition: background 0.8s;
    vertical-align: middle;
    color: var(--contrast-color-1);
    background-color: transparent;
    border: none;
    outline: none;
  }

  .search input::placeholder {
    color: var(--contrast-color-1);
  }

  .search input:hover::placeholder {
    color: var(--contrast-color-1);
  }
  /* working for header for PC screen*/
  header {
    background: url(banner.jpg) center;
    background-size: cover;
    height: fit-content;
    padding: 2rem;
    margin-bottom: 10%;
  }
  .content_for_header {
    width: fit-content;
    height: fit-content;
  }

  .content_for_header div:nth-child(1) p:nth-child(1) {
    color: var(--contrast-color-1);
    font-size: 7rem;
  }
  .content_for_header div:nth-child(1) p:nth-child(3) {
    color: var(--contrast-color-1);
    font-size: 7rem;
    transform: translate(5.4rem, -7rem);
  }

  .content_for_header div:nth-child(3) p {
    color: var(--contrast-color-1);
    text-align: right;
    width: fit-content;
    font-size: 1rem;
  }

  /* workign for list item for PC screen  */
  .list-item {
    border-radius: 30px;
    height: 80vh;
    width: fit-content;
    background-color: var(--primary-color-2);
    box-shadow: 0px 5px 30px black;
    margin: 2rem;
    padding: 20px;
    overflow: scroll;
  }

  .list-item div {
    border-left: 10px double var(--secondary-color-1);
    border-right: 10px double var(--secondary-color-1);
  }

  .list-item h1 {
    width: 70%;
    color: var(--contrast-color-1);
    list-style: none;
  }

  .list-item h3 {
    width: 70%;
    color: var(--contrast-color-1);
    list-style: none;
  }

  .list-item h5 {
    margin: 1rem 0rem;
    text-align: left;
    font-weight: 400;
  }

  /* working for main body for PC screen */
  body center {
    display: flex;
    columns: 2;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2vh 0;
  }

  .main-page-body {
    columns: 3;
  }

  #projects {
    padding: 1rem;
    font-size: 1rem;
    color: var(--contrast-color-1);
    border-radius: 20px;
    border: 2px solid var(--contrast-color-1);
  }

  .show-box {
    width: 1000px;
    padding: 2rem;
    margin: 2rem;
    background-color: var(--primary-color-2);
    box-shadow: 0px 5px 20px black;
    border-radius: 30px;
    color: white;
    height: 80vh;
    overflow: scroll;
  }

  .show {
    border-radius: 20px;
    margin: 30px 0px;
    padding: 30px;
    -webkit-column-break-inside: avoid;
    border: 2px solid var(--contrast-color-1);
    text-align: left;
  }

  .show h3 {
    color: var(--contrast-color-2);
  }

  .show h5 {
    color: var(--contrast-color-1);
  }

  .show img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }

  /* working for footer for PC screen  */
  footer div {
    border: 5px solid var(--contrast-color-1);
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px white;
  }

  footer div iframe {
    width: 100%;
    border-radius: 15px;
  }

  footer .logo-img {
    /* width: 50px; */
    height: fit-content;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  footer .logo-img ion-icon {
    font-size: 4rem;
  }
}

/* working for mobile screen  */
@media only screen and (max-width: 500px) {
  /* working for globals for*/
  body {
    background-color: var(--primary-color-1);
  }

  hr {
    border: 2px solid var(--secondary-color-1);
  }

  a {
    color: var(--contrast-color-1);
    background-color: var(--secondary-color-1);
    padding: 0.3rem 1rem;
    margin: 0.6rem;
    border-radius: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: 200ms;
    white-space: nowrap;
  }

  a:hover {
    background-color: var(--contrast-color-2);
    color: var(--secondary-color-1);
  }

  /* working for the slider for mobile screen */

  nav {
    width: 100%;
  }

  .logo-img {
    display: flex;
    justify-content: space-between;
  }

  .logo-img ion-icon {
    font-size: 1.8rem;
    margin: 1rem 0.3rem;
  }

  .logo-img ion-icon:hover {
    color: var(--secondary-color-1);
  }

  .logo-img img {
    width: 3rem;
    border-radius: 5px;
    margin: 1rem;
  }

  .nav-bar {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    font-size: 0.8rem;
    gap: 1rem 0;
    padding: 0.7rem;
  }

  .list-item {
    display: none;
  }

  .search {
    padding: 1rem;
    display: block;
  }

  .search div:nth-child(1) {
    background-color: var(--secondary-color-1);
    box-shadow: 0px 3px 10px black;
    border-radius: 20px;
    width: 100%;
    display: flex;
    transition: background 0.8s;
  }

  .search div:nth-child(1):hover {
    background: black radial-gradient(circle, transparent 1%, black 1%)
      center/15000%;
  }

  .search div:nth-child(1):hover input::placeholder {
    color: var(--contrast-color-1);
  }

  .search div:nth-child(1):active {
    background-color: #292d3e;
    background-size: 100%;
    transition: background 0s;
  }

  .search p {
    color: var(--contrast-color-1);
    font-size: 15px;
    margin-top: -4%;
    transform: translateX(2%);
  }

  .search button {
    font-size: 1.5rem;
    outline: none;
    background-color: transparent;
    padding: 0.4rem 0.6rem;
    width: fit-content;
    transition: background 0.8s;
    outline: none;
    border: none;
  }

  .search input {
    width: 100%;
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    outline: none;
    transition: background 0.8s;
    color: var(--contrast-color-1);
    background-color: transparent;
    border: none;
    outline: none;
  }
  .search input::placeholder {
    color: var(--contrast-color-1);
  }

  /* working for header for mobile screen*/
  header {
    background: url(banner.jpg) center;
    border-radius: 10px;
    background-size: cover;
    height: fit-content;
    padding: 1rem;
    margin-bottom: 10%;
  }

  .content_for_header {
    width: fit-content;
    height: fit-content;
  }

  .content_for_header div:nth-child(1) p:nth-child(1) {
    color: var(--contrast-color-1);
    font-size: 2.5rem;
  }

  .content_for_header div:nth-child(1) p:nth-child(3) {
    color: var(--contrast-color-1);
    font-size: 2.5rem;
    transform: translate(2rem, -3.5rem);
  }

  .content_for_header div:nth-child(3) p {
    color: var(--contrast-color-1);
    text-align: left;
    width: fit-content;
    font-size: 0.8rem;
  }

  /* working for main page body for mobile screen  */
  .show-box {
    overflow: auto;
    height: 100vh;
    margin: 10% 0px;
  }

  .main-page-body {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    columns: 2;
  }

  #projects {
    padding: 1rem;
    font-size: 1rem;
    color: var(--contrast-color-1);
    border-radius: 20px;
    border: 2px solid var(--contrast-color-1);
  }

  .show {
    border-radius: 20px;
    margin: 30px 0px;
    padding: 15px;
    -webkit-column-break-inside: avoid;
    border: 2px solid var(--contrast-color-1);
    text-align: left;
  }

  .show h3 {
    color: var(--contrast-color-2);
  }

  .show h5 {
    color: var(--contrast-color-1);
  }

  .show img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }

  /* working for footer for mobile screen*/

  footer div {
    border: 5px solid var(--contrast-color-1);
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px white;
  }

  footer div iframe {
    width: 100%;
    border-radius: 15px;
  }
  /*   
  footer div {
    width: 94%;
    margin: 10px;
    border: 2px solid lime;
    box-shadow: 0px 0px 10px 0px lime;
    border-radius: 10px;
  }

  footer div iframe {
    width: 100%;
    border-radius: 10px;
  } */
}
